/* Палитра цветов */
$black: #000;
$jade: #00bf79;

/* Размеры шрифтов */
$primary-font-size: 1rem;
$secondary-font-size: 10px;

/* Типография */
$primary-font: "Pixeboy", Tahoma, serif;
$secondary-font: "Pixeboy", Arial, serif;

/* Функциональные переменные */
$primary-text-color: $black;
$secondary-text-color: $jade;
