:root {
  font-size: calc(0.5em + 1vw);
  font-family: $primary-font;
  color: $primary-text-color;
  line-height: 1.2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

canvas {
  display: block;
}

/** Support classes */

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}
