@font-face {
  font-family: "Pixeboy";
  src: url("../../../fonts/Pixeboy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixeboy";
  src: url("../../../fonts/Pixeboy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
